* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background: #e0e0e0;
  color: #666;
  font-size: 1.8rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  line-height: 1.4em;
}
fieldset{
  border: 0;
  padding: 0;
}
.wrap{
  display: flex;
  height: 100%;  
}
div.container{
  max-width: 760px;
  margin: 3em auto;
  width: 760px;
}
.site-header{
  padding-bottom: 1em;
  padding-top: 3em;
  max-width: 760px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  h1{
    display: none;
    object{
      max-width: 100%;
    }
  }
  .forecast-icon{
    height: 8em;
    object{
      animation: rising 1s ease;
      margin: 0 auto;
      max-height: 100%;
      transition: .3s ease;
      height: 100%;
    }
  }
}
form{
  position: relative;
}
label{
  display: inine-block;
}

input#form-toggle,
label[for=location]{
  position: absolute;
  clip: rect(0,0,0,0);
}

input[type="text"]{
  border: 1px solid #ccc;
  font-size: 16px;
  padding: .5em 1em;
  width: 240px;
}
button{
  appearance: none;
  background: #2C90A5;
  border: 1px solid #2C90A5;
  color: #fff;
  padding: .5em 1em;
  transition: all .3s ease;
  &:hover{
    background: #13404A;
    transform: scale(1.2);
  }
}
input#form-toggle{
  + .change-location{
    display: inline-block;
    max-width: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    height: 0;
  }
  ~ label[for=form-toggle],
  ~ h1{
    transition: opacity 1s ease;
    height: auto;
  }
}
input#form-toggle:checked{
  + .change-location{
    opacity: 1;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  ~ label[for=form-toggle],
  ~ h1{
    opacity: 0;
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 0;
  }
}
.forecast-header{
  background: rgba(255,255,255,.8);
  padding: .5em 1em 0;
  position: relative;
  h1{
    display: inline-block;
    line-height: 2em;
    padding: 0 0 1.6em 0;
    margin-left: -.5em;
  }
  label{
    color: #666;
    &:hover{
      color: #2C90A5;
    }
  }
}
div.forecast{
  background: #fff;
  padding: 2em;
  margin-bottom: .5em;
}
h1, 
label,
button{
    font-size: .8rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
button{
  font-size: 16px;
}
h1,
label{
  margin: 0;
}
a{
  color: #2C90A5;
  text-decoration: none;
  transition: color .3s ease;
  &:hover{
    color: #13404A;
    text-decoration: underline;
  }
}

.error{
  color: #13404A;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-bottom: 3em;
  h1{
    color: #900;
  }
  
}
@media only screen and (max-width: 780px) {
  div.container{
    position: static;
    margin: 1em;
    transform: none;
    font-size: 1.2rem;
    width: auto;
  }
  .site-header{
    padding-top: 1em;
  }
  div.forecast{
    padding: 1em;
  }
  .change-location{
    white-space: normal;
  }
  input[type=text]{
    width: 100%;
  }
  .site-header .forecast-icon{
    height: 5em;
  }
}


@keyframes rising{
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}