* {
  box-sizing: border-box;
}
body{
  background: #e0e0e0;
  color: #666;
  font-size: 1.8rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  line-height: 1.6em;
}
div.container{
  max-width: 760px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 760px;
}
div.forecast{
  background: #fff;
  padding: 2em;
  margin-bottom: .5em;
}
p.chars{
  text-align: right;
  font-size: 17px;
}
@media only screen and (max-width: 780px) {
  div.container{
    position: static;
    margin: 1em;
    transform: none;
    font-size: 1.2rem;
    width: auto;
  }
  div.forecast{
    padding: 1em;
  }
}