{% extends "layout.html" %}
{% block body %}
{% if locationName %}
<div class="wrap" data-wrap-color="{{ temperature }}">
	<div class="container">
		<header class="site-header">
			<!--<h1>
				<a href="{{ url_for('main') }}">
					<object type="image/svg+xml" data="{{ url_for('static',filename='assets/images/ridetheweather.svg') }}" alt="Ride the Weather"></object>
				</a>
			</h1>-->
			{% if icon %}
				<object type="image/svg+xml" data="{{ url_for('static', filename='assets/images/weather/')}}{{ icon }}.svg" alt="" class="forecast-icon {{ icon }}"></object>
			{% endif %}
		</header>
		<div class="forecast-header">
			<form action="/location/" method="POST">
				<input type="checkbox" id="form-toggle">
				<span class="change-location">
					<label for="location" class="main"">Change Location</label>
					<input type="text" id="location" name="location" placeholder="{{ locationName }}">
					<button type="submit">Go</button>
					<label for="form-toggle" class="cancel">Cancel</label>
				</span>
				<h1>
					<a href="http://maps.google.com/maps?q={{ locationLat }},{{ locationLng }}&ll={{ locationLat }},{{ locationLng }}&z=17">{{ locationName }}</a>
				</h1>
				<label for="form-toggle">Change</label>
			</form>
		</div>
		{% endif %}
		<div class="forecast" data-characters="{{ charcount }}" data-lat-lng="{{ locationLat }},{{ locationLng }}">
			{% if weather %}
				{{weather}}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}


