<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Ride The Weather - Cycling conditions right now</title>
	<link rel="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/stylesheets/main.css') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static',filename='assets/images/favicon.png') }}">
	<link rel="favicon" href="{{ url_for('static',filename='assets/images/favicon.png') }}">
</head>

<body>
		{% block body %}{% endblock %}
</body>
</html>


